<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab1ab">  <td>18/11/22 18:41:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/11/22 18:41:11</td>   <td>4639</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeClass()[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="bbe6bb">  <td>18/11/22 18:41:12</td>   <td>5730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationPanel_TabsNDropdown_Check.test_Navigation_Panel(org.testng.ITestContext, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:scripts.WM.NavigationPanel_TabsNDropdown_Check@72d818d1]">test_Navigation_Panel</td> 
  <td>main@1522311648</td>   <td></td> </tr>
</table>
