<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73f5bc">  <td>17/07/13 17:06:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTest_TestNG_Approach2.TestFlow()[pri:0, instance:scripts.Maxit.SmokeTest_TestNG_Approach2@39529185]">TestFlow</td> 
  <td>main@1645547422</td>   <td></td> </tr>
<tr bgcolor="73f5bc">  <td>17/07/13 17:06:00</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;SmokeTest_TestNG_Approach2.afterTest()[pri:0, instance:scripts.Maxit.SmokeTest_TestNG_Approach2@39529185]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1645547422</td>   <td></td> </tr>
<tr bgcolor="73f5bc">  <td>17/07/13 17:04:54</td>   <td>-65906</td> <td>&nbsp;</td><td title="&gt;&gt;SmokeTest_TestNG_Approach2.beforeTest()[pri:0, instance:scripts.Maxit.SmokeTest_TestNG_Approach2@39529185]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1645547422</td>   <td></td> </tr>
</table>
